In [41]:
import re
import pandas as pd

In [3]:
df = pd.read_csv("unigram_freq.csv", header=None, delimiter=",")

In [4]:
df

              0            1
0          word        count
1           the  23135851162
2            of  13151942776
3           and  12997637966
4            to  12136980858
...         ...          ...
333329    gooek        12711
333330   gooddg        12711
333331  gooblle        12711
333332   gollgo        12711
333333    golgw        12711

[333334 rows x 2 columns]

In [36]:
df2 = [df[0][x] for x in range(len(df[0])) if len(str(df[0][x])) == 5]

In [ ]:
search_regex = r"[a-z][a-z][t][a-z][e]"

In [49]:
possibilities = []

In [50]:
for x in df2:
    check = re.fullmatch(search_regex, x)
    if check:
        possibilities.append(check.group())

In [51]:
possibilities

['title',
 'katie',
 'notre',
 'cutie',
 'matte',
 'butte',
 'metre',
 'litre',
 'entre',
 'cette',
 'vitae',
 'votre',
 'ofthe',
 'estee',
 'lathe',
 'bitte',
 'bette',
 'autre',
 'latte',
 'mitre',
 'titre',
 'inthe',
 'bathe',
 'tutte',
 'witte',
 'artie',
 'motte',
 'tithe',
 'fotze',
 'dette',
 'fette',
 'tothe',
 'bythe',
 'lytle',
 'altre',
 'vette',
 'nutte',
 'lotte',
 'litle',
 'antje',
 'notte',
 'hythe',
 'mitte',
 'onthe',
 'hatte',
 'wythe',
 'satie',
 'untie',
 'sette',
 'lutte',
 'catie',
 'mette',
 'bethe',
 'lithe',
 'hotle',
 'pitre',
 'nette',
 'outre',
 'petre',
 'mathe',
 'setae',
 'votze',
 'astle',
 'kathe',
 'atthe',
 'jette',
 'pathe',
 'oltre',
 'tette',
 'litte',
 'kutje',
 'natpe',
 'bothe',
 'isthe',
 'katze',
 'kette',
 'rothe',
 'withe',
 'nitte',
 'motle',
 'titte',
 'batte',
 'ifthe',
 'citie',
 'kythe',
 'sitte',
 'lette',
 'actie',
 'iatse',
 'aktie',
 'gitte',
 'lethe',
 'antle',
 'cathe',
 'putte',
 'rathe',
 'jytte',
 'patte',
 'batse',
 'cttee',
 'nitze',
 'asthe',
 'lothe',
 'natte',
 'batre',
 'metze',
 'whtie',
 'hatje',
 'catte',
 'matre',
 'witze',
 'ostre',
 'ittle',
 'matie',
 'mothe',
 'potte',
 'attie',
 'cutte',
 'gette',
 'iithe',
 'hotte',
 'rotie',
 'sythe',
 'ettie',
 'sytle',
 'ratee',
 'matue',
 'betwe',
 'witbe',
 'kotze',
 'satre',
 'sathe',
 'mythe',
 'ruthe',
 'botte',
 'nitle',
 'sethe',
 'netze',
 'matze',
 'litke',
 'extre',
 'antee',
 'ottie',
 'latke',
 'wette',
 'lotze',
 'kitwe',
 'petie',
 'orthe',
 'lytte',
 'katee',
 'ittee',
 'luthe',
 'totie',
 'nrtee',
 'zatte',
 'lttle',
 'autoe',
 'tutee',
 'titie',
 'jatte',
 'rette',
 'cotte',
 'notbe',
 'satte',
 'lutze',
 'ratte',
 'gotee',
 'catre',
 'ratse',
 'kotte',
 'jitte',
 'estae',
 'optie',
 'eptfe',
 'watie',
 'hotze',
 'watne',
 'intre',
 'fitne',
 'rotse',
 'lythe',
 'pctfe',
 'situe',
 'sithe',
 'kothe',
 'titze',
 'rutte',
 'batie',
 'gotse',
 'estte',
 'ootle',
 'ogtle',
 'gotle',
 'gotoe']